/*Background of home page*/
body {
    margin:0;
    padding:0;
    background:url('designs/PhillyBackground.png') no-repeat center center fixed;
    background-size:cover;
    background-size:102% 102%;
}

body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

 /*Dome Title*/
 #domeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:80px;
  }
  
  #line {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:10px;
  }

  #homeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #homeTitle.clicked {
    opacity: 0.4;
  }

  #aboutTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #aboutTitle.clicked {
    opacity: 0.4;
  }

  #contactTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  