/*Background of home page*/
body {
    margin:0;
    padding:0;
    background:url('designs/EcuadorBack.png') no-repeat center center fixed;
    background-size:cover;
    background-size:102% 102%;
}

body {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

body.loaded {
  opacity: 1;
}
 /*Dome Title*/
 #domeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:80px;
  }
  
  #line {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:10px;
  }

  #homeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #homeTitle.clicked {
    opacity: 0.4;
  }

  #aboutTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #aboutTitle.clicked {
    opacity: 0.4;
  }

  #contactTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }

  .stripClass{
    position:absolute;
    top:111px;
    left:56px;
    width:220px;
    height:590px;
    overflow:hidden;
  }
  
  /*Allows for the scrolling of the photo strip*/
  #strip {
    width:100%;
    display:block;
    animation:scrollDown 10s linear infinite;
  }
  
  @keyframes scrollDown {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  #steady {
    position: absolute;
    top:111px;
    left: 260px;
    width: 235px;
  }

  .scrollableInfo #firstHeader {
    font-family:'Sentient-Bold', serif;
    color:white;
    font-size:25px;
    text-align:center;
  }

  .scrollableInfo {
    position: absolute;
    top:150px;
    left: 600px;
    width: 625px;
    height: 525px;
    overflow-y: auto;
    padding: 10px 30px 10px 10px;
    text-align:center;
  }

  /*Change the scroll bar*/
  .scrollableInfo::-webkit-scrollbar{
    width: 12px;
  }

  .scrollableInfo::-webkit-scrollbar-track {
    background: #169E9D;
    border-radius: 20px;
  }
  
  .scrollableInfo::-webkit-scrollbar-thumb {
    background-color: #147C50;
    border-radius: 10px;
    border: 3px solid #147C50;
  }
  
  .scrollableInfo::-webkit-scrollbar-thumb:hover {
    background-color: #1CB47D;
  }

  .scrollableInfo .personalInfo {
    font-family:'Sentient-Light', serif;
    color:white;
    font-size:20px;
    text-align:center;
  }

  .scrollableInfo #secondHeader {
    font-family:'Sentient-Bold', serif;
    color:white;
    font-size:25px;
    text-align:center;
  }
  .scrollableInfo .baseInfo {
    font-family:'Sentient-Light', serif;
    color:white;
    font-size:20px;
    text-align:center;
  }

  .scrollableInfo .funInfo {
    font-family:'Sentient-Light', serif;
    color:white;
    font-size:20px;
    text-align:center;
  }

  .scrollableInfo #thirdHeader {
    font-family:'Sentient-Bold', serif;
    color:white;
    font-size:25px;
    text-align:center;
  }

  .scrollableInfo #fourthHeader {
    font-family:'Sentient-Bold', serif;
    color:white;
    font-size:25px;
    text-align:center;
  }

  .scrollableInfo .techInfo {
    font-family:'Sentient-Light', serif;
    color:white;
    text-align:center;
    font-size:20px;
  }
  
  .scrollableInfo .bulletInfo {
    font-family:'Sentient-Light', serif;
    color:white;
    font-size:20px;
    text-align:center;
  }

  .scrollableInfo .bullet2Info {
    font-family:'Sentient-Light', serif;
    color:white;
    font-size:20px;
    text-align:center;
  }

  .scrollableInfo .line1 {
    color:white;
    font-size:10px;
    text-align:center;
  }

  .scrollableInfo .line2 {
    color:white;
    font-size:10px;
    text-align:center;
  }

  .scrollableInfo .line3 {
    color:white;
    font-size:10px;
    text-align:center;
  }

  .scrollableInfo .line4 {
    color:white;
    font-size:10px;
    text-align:center;
  }

  #panecillo {
    position:absolute;
    top:257px;
    left:-10px;
    width: 500px;
  }