#scaleWrapper {
  overflow: hidden;
  position: absolute;
  left: 1%;
  transform-origin: top left;
}
/*Background of home page*/
body {
    margin:0;
    padding:0;
    background:url('designs/HomePageBack.png') no-repeat center center fixed;
    background-size:cover;
    background-size:102% 102%;
}
body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

 /*Dome Title*/
 #domeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:80px;
  }
  
  #line {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:10px;
  }

  #homeTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #homeTitle.clicked {
    opacity: 0.4;
  }

  #aboutTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }
  #aboutTitle.clicked {
    opacity: 0.4;
  }

  #contactTitle {
    font-family:'Sentient-Light', serif;
    position:absolute;
    color:white;
    font-size:25px;
  }

  #quote {
    position: absolute;
    top: 300px;
    left: 200px;
    width: 350px;
  }

  #splatter {
    position: absolute;
    top: 120px;
    left: 690px;
    width: 730px;
  }

  #computer {
    position: absolute;
    top:250px;
    left: 775px;
    width: 575px;
  }

  #dontMoveStickers {
    position: absolute;
    top:255px;
    left: 810px;
    width: 350px;
  }

  #quito {
    position: absolute;
    top:242px;
    left:840px;
    width:110px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }
  /*Makes it two times bigger when clicked*/
  #quito:hover {
    transform:scale(1.1);
  }

  #resume {
    position: absolute;
    top:327px;
    left: 822px;
    width: 90px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }
  #resume:hover {
    transform:scale(1.1);
  }

  #boston {
    position: absolute;
    top:435px;
    left: 787px;
    width: 125px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }
  #boston:hover {
    transform:scale(1.1);
  }

  #miami {
    position: absolute;
    top:360px;
    left: 883px;
    width: 100px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }
  #miami:hover {
    transform:scale(1.1);
  }

  #kyoto {
    position: absolute;
    top:387px;
    left: 960px;
    width: 110px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }
  #kyoto:hover {
    transform:scale(1.1);
  }

  #gainesville {
    position: absolute;
    top:250px;
    left: 1050px;
    width: 120px;
    transition:transform 0.3s ease;
    cursor:pointer;
  }

  #gainesville:hover {
    transform:scale(1.1);
  }

  #wing {
    position: absolute;
    top:345px;
    left: 1045px;
    width: 120px;
  }

  #philly {
    position: absolute;
    top:450px;
    left: 1030px;
    width: 110px;
    transition:transform 0.3s ease;
  }

  /*#philly:hover {
    transform:scale(1.1);
  }*/